Lorenz/Figures/
Lorenz/Data/lorenz_trajectories/
Lorenz/runs/
Lorenz/wandb/

PredatorPrey/Figures/
PredatorPrey/Runs/
PredatorPrey/wandb/

Rossler/Data/rossler_normalized_subsampled_plots/
Rossler/Data/rossler_subsampled_plots/
Rossler/Figures/
Rossler/runs/
Rossler/trash/
Rossler/wandb/

*.png

training_images/
training_animation.gif